This is AI chat app called KrishiAI.

Here are some pieces of information you need to know about this project:
• React Native v0.76 is used as the framework with Expo SDK v52 on top of it
• Expo Router is used for routing with file based routing in the `./app` directory
• The components are in `./components` directory
• Auth is setup with Clerk

management and execution
• Common commands are in the scripts section of the `package.json` file
  • To build the project fresh on the iOS simulator use `npx expo run:android` and make sure to prebuild the project first with `npx expo prebuild` since this is an expo-dev-client project
  • To start the project without building run `npx expo start`